<html>
    <head><title>Who am I?</title></head>
    <body>
        <p>My name is <%= thisisme.name %> and I am <%= thisisme.age %> years old.</p>
        <img src="<%= thisisme.profilePic %>" style="height: 250px"/>
    </body>
</html>