<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Express EJS</title>
</head>
<body>
    <h1>Mijn Eerste App in Express !</h1>
    <p>My name is <%= itsme.name %> I am <%= itsme.age %> years old</p>
    <img src="<%= itsme.profilePic %>" alt="<%= itsme.name %>">
</body>
</html>