    <nav>
        <div class="nav_logo-wrapper">
            <img src="/images/y-logo.png" class="nav_logo-image"/>
        </div>
    
        <a href="/" class="Menu_options">
            <span class="material-icons">home</span>
            <h2>Home</h2>
        </a>
    
        <div class="Menu_options">
            <span class="material-icons">tag</span>
            <h2>Explore</h2>
        </div>
    
        <div class="Menu_options">
            <span class="material-icons">group</span>
            <h2>Community</h2>
        </div>
    
        <div class="Menu_options">
            <span class="material-icons">notifications</span>
            <h2>Notification</h2>
        </div>
    
        <div class="Menu_options">
            <span class="material-icons">email</span>
            <h2>Messages</h2>
        </div>
    
        <div class="Menu_options">
            <span class="material-icons">bookmark</span>
            <h2>Bookmarks</h2>
        </div>
    
        <div class="Menu_options">
            <span class="material-icons">person</span>
            <h2>Profile</h2>
        </div>
    
        <div class="Menu_options">
            <span class="material-icons">more_horiz</span>
            <h2>More</h2>
        </div>
    
        <button class="tweet_btn">Post</button>
    </nav> 