<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create</a></li>
        <li>
            <form action="/login/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
</header>