<%- include('./partials/header') %>

    <% if (flashMessage) { %>
        <h1 class=" <%= flashMessage.type %>">
            <%= flashMessage.message %>
        </h1>
        <% } %>

            <form action="/login/logout" method="post">
                <button type="submit">LOGOUT</button>
            </form>
            <%- include('./partials/footer') %>