<%- include('./partials/header') %>

    <section id="container-login-form">

        <% if (flashMessage) { %>
            <h1 class=" <%= flashMessage.type %>">
                <%= flashMessage.message %>
            </h1>
            <% } %>
                <form action="/login" method="post">
                    <label for="field-email">E-mail</label>
                    <input type="email" name="email" id="field-email">
                    <label for="field-password">Password</label>
                    <input type="password" name="password" id="field-password">
                    <button type="submit">Log in</button>
                </form>

    </section>



    <%- include('./partials/footer') %>