<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%= message %>

        <ul>
            <li><a href="math/add?a=2&b=4">2+4</a></li>
            <li><a href="math/min?a=4&b=2">4-2</a></li>
            <li><a href="math/mult?a=4&b=2">4*2</a></li>
            <li><a href="math/div?a=4&b=2">4/2</a></li>
            <li><a href="contactform/">Contact Form</a></li>
            <li><a href="newspaper/">News Paper</a></li>
        </ul>
</body>

</html>