<%- include("/partials/header") %>
    <main>
        <h1>Word Guess</h1>

        <form action="/words" method="GET">
            <input type="text" name="q" value="">
            <select name="sortDirection">
                <option selected>asc</option>
                <option>desc</option>
            </select>
            <button type="submit">GO</button>
        </form>
        <ul>
            <li style="color: red">DONKEY</li>
            <li>FRUIT</li>
            <li style="color: red">CREEPY</li>
            <li>BLOOM</li>
            <li>FLOOR</li>
            <li>SWEEP</li>
            <li>TOWER</li>
            <li>MUSIC</li>
            <li>QUILL</li>
            <li>SWOOP</li>
            <li style="color: red">FRENZY</li>
            <li style="color: red">WALKING</li>
            <li>BREAD</li>
            <li>WATER</li>
            <li>PRIZE</li>
            <li>GRACE</li>
            <li>SPORT</li>
            <li>PAUSE</li>
            <li>PLUME</li>
            <li>CRISP</li>
            <li style="color: red">MARKET</li>
            <li>CHANT</li>
        </ul>
    </main>
    <%- include("/partials/footer") %>