<%- include('partials/header') %>
    <h1>Word Guess</h1>
    <p>Guess the word!</p>

    <% if (error) { %>
        <p style="color: red">You must enter a 5-letter word.</p>
        <% } else { %>

            <% if (win) { %>

                <p style="color: green">Congratulations! You guessed the word. <a href="/restart">Click to play
                        again!</a>
                </p>
                <% } %>

                    <% if (!win) { %>

                        <div class="letter-container">

                            <% for( let i=0; i < input.length; i++ ) { %>
                                <span class="<%= color[i] %>">
                                    <%= input[i] %>
                                </span>
                                <% } %>
                        </div>
                        <% } %>

                            <% }%>

                                <form action="/guess" method="POST">
                                    <input type="text" name="guess" placeholder="Enter your guess">
                                    <button type="submit">Submit</button>
                                </form>


                                <%- include('partials/footer') %>