<!DOCTYPE html>
<html lang="nl-Be">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title></title>
  </head>
  <body>
    <%- include('partials/header') %>
    <form action="/search" method="get">
      <label><input type="text" name="q" id="qfield" /></label>
      <button type="submit">Search</button>
    </form>
    <main>
      <section id="articelsContainer">
        <% article.forEach(el => { %>

        <article id="newsarticle">
          <h2><%= el.title %></h2>
          <p><%= el.content %></p>
        </article>

        <% }) %>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
